#contenedor{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    height: 100vh;
    text-align: left;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
}
